<h1>Nothing to see here, move along...</h1>
<h2>The blog that makes Twitter look wordy</h2>


<p><a href="/authors/login"><button>login</button></a></p>


<% @posts.reverse_each do |p| %>

  <h4><a href="/posts/<%= p.id %>"><%= p.id %></a> - <%= p.title %></h4>
  <p>"<%= p.content %>"</p>
  <p>Posted by: <%= p.author.name %> ~ Posted on: <%= p.date %></p>

  <p><a href="/posts/<%= p.id %>/comment_new"><button>add comment</button></a></p>
  
  
    
  <% p.tags.each do |t| %>
  
    <% if t != [] && t != nil %>
    
      <a href="/posts/<%= t.id %>/tag_posts_index"><button><%= t.description %></button></a>
      
    <% end %>
  
  <% end %>


  <br>
  <p>__________________________________________________</p>
<% end %>