<h1>"<%= @post.title %>" detail page</h1>

<p>Post ID:<%= @post.id %></p>
<p>Post content: "<%= @post.content %>"</p>
<p>Date Posted: <%= @post.date %></p>
<p>Author: <%= @post.author.name %></p>

<p><a href="/">Home</a></p>